@import url(./main.bundle.css);
@import url(./elements.css);

aside {
  transition: all 0.3s ease;
  max-width: 254px;
  width: 254px;
  overflow-y: auto;
}

.aside-hidden {
  max-width: 0;
  min-width: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
}

.aside-show {
  max-width: 254px;
  min-width: 254px;
  width: 254px;
}

aside > nav > ul > li {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  padding: 3px 10px;
  cursor: pointer;

}

aside > nav > ul > li:hover {
  color: #5964de;
  text-decoration: underline;
}

.contents {
  min-width: 1024px;
  width: 100%;
}

.spinner:before {
  content: '';
  background: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.spinner:after {
  content: url('/spinner.svg');
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;
}
